<div class="container">
    <h4 class="title">Esto es Real Time Products</h4>
</div>
<br><br>
<div class="container-forms">
    <div class="forms-box">
        <h5 style="color:rgb(70, 181, 79);">Add Products</h5><hr>
        <form onsubmit="return addProduct() ">
            <div class="form-group row">
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="title" placeholder="Title" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="description" placeholder="Description" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="price" placeholder="Price" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="stock" placeholder="Stock" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="code" placeholder="Code" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="category" placeholder="Category" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="thumbnail" placeholder="Thumbnail">
                </div>
            </div>
            <br>
            <button type="submit"  value="Enviar"  class="btn btn-success">Send</button>
        </form>
    </div>
    <div class="forms-box">
        <h5 style="color:red;">Delete Products</h5><hr>
        <form onsubmit="return delProduct() ">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="id" placeholder="Id Product..." required>
                </div>
            </div>
            <br>
            <button type="submit" value="Enviar" class="btn btn-danger">Send</button>
        </form>
    </div>
</div>

<div class="contenedor-cards" id="z-cards"> 
    {{#each products}}
            {{!-- <div class="card" style="width: 15rem;"> --}}
            <div class="card" >
            <img src="https://via.placeholder.com/180x180" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">Description: {{this.description}}</p>
                <p class="card-text">Price: $<strong>{{this.price}}</strong> || Stock: {{this.stock}}</p>
                <br>
                <p>ID:</p>
                <p>{{this._id}}</p>
            </div>
            <div class="card-body">
            <button id="{{this._id}}" class="btn btn-primary">Go somewhere</button>
            </div>
        </div>
      
    {{/each}}
</div>




<script src="/socket.io/socket.io.js"></script> 

<script src="/js/realTimeProducts.js"></script>